@{
    ViewData["Title"] = "Home Page";
}

<style>
    .sublist {
       list-style-type: lower-alpha
    }
</style>

<h2>Sistema bancario</h2>
<p>La prueba consiste en 3 partes</p>
<hr />
<ol>

    <li>
        Añadir Movimientos:
        <ol class="sublist">
            <li>
                El programa debe permitir añadir <b>movimientos</b> en efectivo (ingresos y retiradas) y <b>transferencias</b> entre cuentas, que tendran una cuenta de origen
                y destino según el caso y una cantidad, por lo que tendrás que modificar el modelo de la base de datos.
            </li>
        </ol>
    </li>

    <li>
        Movimientos:
        <ol class="sublist">
            <li>Cambiar el renderizado de la lista de movimientos para que sea <b>asíncrona</b>.</li>
            <li>Es necesario aplicar estilos a la <b>tabla</b> de lista de movimientos.</li>
        </ol>
    </li>

    <li>Mostrar en una tabla el dinero movido por cada tipo de movimiento.</li>
</ol>